.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header h1 {
  font-size: 30px;
}

.header__header-column .header-icon {
  margin-left: 15px;
}
.header-icon i {
  font-size: 20px;
}

.chats .chats__chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.chats .chat__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat__column .chat__username {
  display: block;
}
