.bigscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 50px);

  background-color: #fae006;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 6;

  font-weight: 600;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  padding: 0 20px;
  display: none;
}

@media screen and (min-width: 550px) {
  .bigscreen {
    /* display: flex; */
  }
}

.bigscreen span {
  position: absolute;
  top: calc(50vh - 50px);
  height: 100px;
}
